ul.no-padding-block-grid.small-block-grid-1.medium-block-grid-5
  li.text-center
    .page-section.pink-bg
      span.white pink
  li.text-center
    .page-section.blue-bg
      span.white blue
  li.text-center
    .page-section.green-bg
      span.white green
  li.text-center
    .page-section.orange-bg
      span.white orange
  li.text-center
    .page-section.yellow-gold-bg
      span.white yellow-gold

ul.no-padding-block-grid.small-block-grid-1.medium-block-grid-5
  li.text-center
    .page-section.pink-dark-bg
      span.white pink-dark
  li.text-center
    .page-section.blue-dark-bg
      span.white blue-dark
  li.text-center
    .page-section.green-dark-bg
      span.white green-dark
  li.text-center
    .page-section.orange-dark-bg
      span.white orange-dark

ul.no-padding-block-grid.small-block-grid-1.medium-block-grid-5
  li.text-center
    .page-section.grey-1-bg
      span.black grey-1
  li.text-center
    .page-section.grey-2-bg
      span.black grey-2
  li.text-center
    .page-section.grey-3-bg
      span.white grey-3
  li.text-center
    .page-section.grey-4-bg
      span.white grey-4
  li.text-center
    .page-section.grey-5-bg
      span.white grey-5
