h3 CSS mapping
ul.glyphs.css-mapping
  li
    .icon.icon-arrow-left
    input(type='text', readonly='readonly', value='arrow-left')
  li
    .icon.icon-award
    input(type='text', readonly='readonly', value='award')
  li
    .icon.icon-calendar
    input(type='text', readonly='readonly', value='calendar')
  li
    .icon.icon-cart
    input(type='text', readonly='readonly', value='cart')
  li
    .icon.icon-check
    input(type='text', readonly='readonly', value='check')
  li
    .icon.icon-close
    input(type='text', readonly='readonly', value='close')
  li
    .icon.icon-curved-arrow
    input(type='text', readonly='readonly', value='curved-arrow')
  li
    .icon.icon-dollas
    input(type='text', readonly='readonly', value='dollas')
  li
    .icon.icon-further
    input(type='text', readonly='readonly', value='further')
  li
    .icon.icon-home
    input(type='text', readonly='readonly', value='home')
  li
    .icon.icon-pencil
    input(type='text', readonly='readonly', value='pencil')
  li
    .icon.icon-people
    input(type='text', readonly='readonly', value='people')
  li
    .icon.icon-drop-pin
    input(type='text', readonly='readonly', value='drop-pin')
  li
    .icon.icon-sale-tag
    input(type='text', readonly='readonly', value='sale-tag')
  li
    .icon.icon-signup
    input(type='text', readonly='readonly', value='signup')
  li
    .icon.icon-slider-arrow-left
    input(type='text', readonly='readonly', value='slider-arrow-left')
  li
    .icon.icon-slider-arrow-right
    input(type='text', readonly='readonly', value='slider-arrow-right')
  li
    .icon.icon-suitcase
    input(type='text', readonly='readonly', value='suitcase')
  li
    .icon.icon-tickets
    input(type='text', readonly='readonly', value='tickets')
  li
    .icon.icon-distance
    input(type='text', readonly='readonly', value='distance')
  li
    .icon.icon-arrow-right
    input(type='text', readonly='readonly', value='arrow-right')
h3 Character mapping
ul.glyphs.character-mapping
  li
    .icon(data-icon='a')
    input(type='text', readonly='readonly', value='a')
  li
    .icon(data-icon='b')
    input(type='text', readonly='readonly', value='b')
  li
    .icon(data-icon='c')
    input(type='text', readonly='readonly', value='c')
  li
    .icon(data-icon='d')
    input(type='text', readonly='readonly', value='d')
  li
    .icon(data-icon='e')
    input(type='text', readonly='readonly', value='e')
  li
    .icon(data-icon='f')
    input(type='text', readonly='readonly', value='f')
  li
    .icon(data-icon='g')
    input(type='text', readonly='readonly', value='g')
  li
    .icon(data-icon='h')
    input(type='text', readonly='readonly', value='h')
  li
    .icon(data-icon='i')
    input(type='text', readonly='readonly', value='i')
  li
    .icon(data-icon='j')
    input(type='text', readonly='readonly', value='j')
  li
    .icon(data-icon='k')
    input(type='text', readonly='readonly', value='k')
  li
    .icon(data-icon='l')
    input(type='text', readonly='readonly', value='l')
  li
    .icon(data-icon='m')
    input(type='text', readonly='readonly', value='m')
  li
    .icon(data-icon='n')
    input(type='text', readonly='readonly', value='n')
  li
    .icon(data-icon='o')
    input(type='text', readonly='readonly', value='o')
  li
    .icon(data-icon='p')
    input(type='text', readonly='readonly', value='p')
  li
    .icon(data-icon='q')
    input(type='text', readonly='readonly', value='q')
  li
    .icon(data-icon='r')
    input(type='text', readonly='readonly', value='r')
  li
    .icon(data-icon='s')
    input(type='text', readonly='readonly', value='s')
  li
    .icon(data-icon='t')
    input(type='text', readonly='readonly', value='t')
  li
    .icon(data-icon='u')
    input(type='text', readonly='readonly', value='u')
