.thick-margin-bottom
  h3 Form sample
  form(action="#")
    input(type="text", placeholder="First Name")
    input(type="text", placeholder="Last Name")
    input(type="text", placeholder="Address")
    input(type="text", placeholder="Postal Code")
    span Please add me to your mailing list.
    label
      input(type="checkbox")
      span Yes, I would like to receive updates and special offers.
    input(type="submit")


.thick-margin-bottom
  h3 Big button things
  //- form
  div.map-button.something-for-everyone-button(data-map-button)
    div.icon-container
      i.icon.icon-people
    label
      strong Something for Everyone
      span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam deserunt eveniet deleniti non culpa.
      input(type="checkbox", name="test", value="something-for-everyone")
  div.map-button.attractions-button(data-map-button)
    div.icon-container
      i.icon.icon-tickets
    label
      strong Attractions
      span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam deserunt eveniet deleniti non culpa.
      input(type="checkbox", name="test", value="attractions")
  div.map-button.shopping-button(data-map-button)
    div.icon-container
      i.icon.icon-cart
    label
      strong Shopping
      span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam deserunt eveniet deleniti non culpa.
      input(type="checkbox", name="test", value="shopping")
  div.map-button.lodging-button(data-map-button)
    div.icon-container
      i.icon.icon-suitcase
    label
      strong Lodging
      span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam deserunt eveniet deleniti non culpa.
      input(type="checkbox", name="test", value="lodging")
