/* Default header styles from Foundation 5 */
%header {
  display: block;
  font-weight: $header-font-weight;
  margin-bottom: $header-bottom-margin;
  margin-top: $header-top-margin;
  text-rendering: $header-text-rendering;
  small {
    color: inherit;
  }
}
