.drupal-edit-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  left: auto;
  z-index: 100;
  backface-visibility: hidden;
  a {
    margin-bottom: 0;
  }
}

.drupal-messages .callout {
  margin-bottom: 0;
}

.element-invisible {
  @include element-invisible;
}
