// colors
// be sure to add the vars to the $theme_colors
$blue:        #2390dc;
$green:       #b2c936;

$theme_colors: (
  "blue":        $blue,
  "green":       $green,
);



// type + weights
// $font: 'Source Sans Pro';  // add to appropriate font stack and uncomment
// $font-family-sans-serif: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
// $font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;

// $light: 300;
// $regular: 400;
// $semi-bold: 600;
// $bold: 700;
